<style>
  .plugin-loading {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .plugins-list {
    display: flex;
  }
  .plugin {
    display: inline-block;

    margin: 3px 10px;
    padding: 10px;
    background: gray;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  .plugin:hover {
     filter: brightness(125%);
   }
</style>
<div *ngIf='pluginResolver.isLoadingPlugins.getValue(); else loaded' class='plugin-loading'>
  Loading plugins...
</div>
<ng-template #loaded>
  <div class='plugins-list'>
    <div [routerLink]='[i.remoteName]' class='plugin' *ngFor='let i of pluginResolver.configs'>
      {{ i.name }}
    </div>
  </div>
</ng-template>
